<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="refresh" content="2; url=/DDnEL4jmpuBCDkJP3myR"> 
    <link rel="stylesheet" href="./css/big-stlye.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title></title>
</head>
<body  style="background: rgb(243,246,255);
background: linear-gradient(180deg, rgba(243,246,255,1) 0%, rgba(235,242,251,1) 100%); display: grid; height: 100vh; align-content: center; justify-content: center;">
    <img style="width: 150px; align-self: center; justify-self: center;" src="./img/upTTop02.png" alt="">
</body>
</html>