<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="4;  url=<%=url%>">
    <link rel="stylesheet" href="./css/big-stlye.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
    <div class="kola" style="height: 100vh; justify-content: center; align-items: center;">
        
    
        <div style="height: 100%;font-family: sans-serif;align-self: center;display: grid;justify-content: space-around;text-align: center;align-content: center;">
            <img style="width: 100px; justify-self: center;; margin-bottom: 20px;"  src="./img/Ring-1s-200px.svg" alt="">
            
         <p style="margin: 0 30px; color: rgb(115, 115, 115); margin-bottom: 100px;">Por favor, espere mientras procesamos su solicitud. No cierre su navegador.</p>
        </div>
       
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>